<div class="card">
  <div class="card-header">
    Weather reading in Washington
  </div>
  <div class="card-body">
  <h1 class="card-title"><%= @final_output%></h1>
    <br/>
    <h5 class="card-title">This is the current ozone air quality in Washington</h5>
    <p class="card-text">Hit reload in browser for current reading.....</p>

  </div>
</div>

<br/>

